# General
**/*.DS_Store
*.swp

# Neovim
nvim/.config/nvim/autoload/plugged/**
nvim/.config/nvim/autoload/plug.vim

# Tmux
tmux/.tmux/plugins/**

# Vim
.netrwhist
vim/.vim/autoload/**
vim/.vim/plugged/**
vim/.vim/pack/**

# Zsh
.zsh_history
.zcompdump
zsh/.config/zsh/plugins/**
zsh/.config/zsh/.zsh_sessions
zsh/.config/zsh/.zcomet/**
